/*reset rule*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../../img/bgkeygen.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: calc(100vh - 65px);
    
}

.container{
    text-align: center;
    max-width: 1070px;
    margin: auto;
    height: 100%;
}

h1{
    margin-top: 65px;
    background-color: rgba(255,255,255,0);
   
    color: aquamarine;
    font-size: 45px;
}

#gen-pwd {
   
    font-size: 50px;
    display: inline-block;
    margin-top: 200px;
    padding: 10px 15px;
    animation: rainbow 3s linear infinite;
    border: 5px solid rgb(255, 89, 0);
    border-radius: 5px;
}

@keyframes rainbow{
    0%{color:blue;}

    10%{color:rgb(169, 76, 177);}

    20%{color:rgb(116, 52, 70);}

    30%{color:rgb(255, 102, 0);}

    40%{color:rgb(251, 255, 0);}

    50%{color:rgb(38, 255, 0);}

    60%{color:rgb(0, 255, 119);}

    70%{color:rgb(0, 234, 255);}

    80%{color:rgb(0, 115, 255);}

    90%{color:blue;}

    100%{color:blue;}

}

#wow{
    background-color: rgba(255,255,255,0);
    color:rgb(251, 255, 0);
    font-size: 50px;
    margin-top: 50px;
    display: inline-block;
    animation: bigger 2s linear 1, spin 2s linear 1;
    /* animation: spin 2s linear 1; */
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}

}

@keyframes bigger{
    0%{font-size: 0px;}
    100%{font-size: 50px;}
    0%{font-size: 0px;}
    
}

#suggestion{
    color:whitesmoke;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    padding: 5px;
    border: 5px solid rgb(4, 255, 0);
    border-radius: 2px;
}