/*reset rule*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80b91575-9a00-40a1-8918-451cd2eec7aa/d4mldjp-7201cc1f-3226-473b-836a-cb9c0c55a50d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgwYjkxNTc1LTlhMDAtNDBhMS04OTE4LTQ1MWNkMmVlYzdhYVwvZDRtbGRqcC03MjAxY2MxZi0zMjI2LTQ3M2ItODM2YS1jYjljMGM1NWE1MGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.veCw3_i4qI56US_QaNjncx9QxD4h2vxJ-Q6rS7L7GmE);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    text-align: center;
    max-width: 1070px;
    margin: auto;
}

h1{
    background-color: rgba(255,255,255,0);
    margin-top: 50px;
    color: aquamarine;
}

#gen-pwd {
   
    font-size: 50px;
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    animation: rainbow 3s linear infinite;
    border: 5px solid rgb(255, 89, 0);
    border-radius: 5px;
}

@keyframes rainbow{
    0%{color:blue;}

    10%{color:rgb(169, 76, 177);}

    20%{color:rgb(116, 52, 70);}

    30%{color:rgb(255, 102, 0);}

    40%{color:rgb(251, 255, 0);}

    50%{color:rgb(38, 255, 0);}

    60%{color:rgb(0, 255, 119);}

    70%{color:rgb(0, 234, 255);}

    80%{color:rgb(0, 115, 255);}

    90%{color:blue;}

    100%{color:blue;}

}